<script lang="coffee">
export default {
  name: 'hello'
  data: -> msg: 'Welcome to Your Vue.js App'
}
</script>

<template lang="pug" src="./hello.pug"></template>
<style lang="scss" src="./hello.scss" scoped></style>
