<script lang="coffee">
STORAGE_KEY = 'todos-vuejs-2.0'

storage =
  fetch: ->
    todos = JSON.parse localStorage.getItem(STORAGE_KEY) || '[]'
    todos.forEach (todo, index) -> todo.id = index
    storage.uid = todos.length
    todos
  save: (todos) ->
    localStorage.setItem STORAGE_KEY, JSON.stringify(todos)

export default {
  name: 'todo'
  data: ->
    todos: storage.fetch()
    newTodo: ''
  watch:
    todos:
      handler: (todos) -> storage.save todos
      deep: true
  methods:
    addTodo: ->
      this.todos.push
        id: storage.uid++
        title: this.newTodo
        done: false
      this.newTodo = ''
}
</script>

<template lang="pug" src="./todo.pug"></template>
<style lang="scss" src="./todo.scss" scoped></style>
