.todo
  h1 To Do
  input(v-model.trim="newTodo" @keyup.enter="addTodo" placeholder="What needs to be done?")
  ul
    li(v-for="todo in todos")
      label
        input(v-model="todo.done" type="checkbox")
        |  {{todo.title}}
